* {
    background-color: antiquewhite;
}
h3 {
    text-align: center;
}
.container {
    margin: 1%;
    min-height: 90%;
    min-width: 90%;
    padding: 1%;
    position: relative;
    display: block;
}
form {
    border: 1px solid black;
    padding: 1%;
}
#brawser, #num1, #num2 {
    border-radius: 5px;
}
#num1, #num2 {
    width: 2%;
    margin: 0.3%;
}
button {
    border-radius: 5px;
}
button:hover {
    background-color: #f19a79;
    font-style: oblique;
}